./nextcloud_storage/**/*
./ngix-proxy-manager-storage/

jellyfin

node_modules

__pycache__

codocu_results

bvms-knowledge-base

temp

bvms

.env

operation-scape-logs*

logs

docs

output-learned

imos

imos-cleaned

imos-learned

bvms-cleaned

bvms-learned

*.mp4

*.mp3