[submodule "dify"]
	path = dify
	url = https://github.com/langgenius/dify.git
[submodule "supabase"]
	path = supabase
	url = https://github.com/supabase/supabase
[submodule "jupyter-lab/llama.cpp"]
	path = jupyter-lab/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
