./nextcloud_storage/**/*
./ngix-proxy-manager-storage/

jellyfin

node_modules

__pycache__

codocu_results

bvms-knowledge-base

temp

bvms

.env

operation-scape-logs*

logs

docs

output-learned

imos

imos-cleaned

imos-learned

bvms-cleaned

bvms-learned

transcribe/videos/*.mp4

*.mp3
code-server/config

llama-rpc/models/*.gguf
jupyter-lab/outputs/checkpoint-60/optimizer.pt 
jupyter-lab/outputs/checkpoint-60/adapter_model.safetensors 

cookies.txt
