pandas
matplotlib
seaborn
scikit-learn
tensorflow
keras
jupyterlab
nltk
opencv-python
pillow
h5py
tqdm
requests
transformers
sentencepiece
tensorflow-text
tfa-nightly
ollama
unsloth
torch=2.5.0
torchvision
torchaudionumpy